.chat-wrapper {
  background-color: #111836;
  width: 100%;
  height: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-align: left;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 12px;
}

.chat-title {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 3px;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.chat-box {
  width: 100%;
  max-width: none;
  height: calc(100vh - 400px);
  overflow-y: auto;
  background-color: #1e293b9a;
  border-radius: 12px;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  box-sizing: border-box;
}

.chat-message {
  padding: 0.6rem 1rem;
  border-radius: 12px;
  max-width: 85%;
  word-wrap: break-word;
}

.chat-message.ai {
  align-self: flex-start;
  background-color: #334155;
  color: #cbd5e1;
}

.chat-message.user {
  align-self: flex-end;
  background-color: #00e0ff;
  color: black;
}

.chat-input-group {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: none;
  align-items: center;
}

.chat-input-group input {
  flex: 1;
  padding: 0.6rem 1rem;
  border-radius: 12px;
  font-size: 1rem;
  box-sizing: border-box;
}

.chat-input-group button {
  padding: 10px 10px;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  transition: 0.1s;
}

.chat-input-group button:hover { transform: scale(1.05); }

@media (max-width: 960px) {
  .chat-box { height: 320px; }
}

.send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-input {
  width: 100%;
  padding: 10px 16px;
  border-radius: 20px;
  border: solid 1px rgb(255, 255, 255);
  font-size: 16px;
  outline: none;
  background: rgba(255, 255, 255, 0);
  transition: border-color 0.2s;
  color: white;
}

.chat-input:focus {
  border-color: #0056b3;
  background: rgba(255, 255, 255, 0.02);
}

.chat-input::placeholder {
  color: #ffffff75;
  opacity: 1;
}

.chat-model-selector {
  margin-bottom: 10px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.chat-model-selector select {
  padding: 4px 8px;
  border-radius: 20px;
  background-color: #111836;
  color: white;
  border: solid 1px rgba(255, 255, 255, 0.281);
}

.chat-model-selector select:hover {
  border-color: #ffffffa9;
  transition: 0.2s;
}

.left-side {
    display: inline-flex;
    align-items: left;
    gap: 10px; /* label és select közé kis space */
    width: auto;
}

.right-side {
    font-size: 13px;
    color: rgb(156, 163, 175);
    width: auto;
    align-items: right;
}