.timer-wrapper {
  background-color: #111836;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.90);
  text-align: center;
}

.focus-title {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

.circle-wrapper {
  margin-top: 50px;
  position: relative;
  display: inline-block;
  border-radius: 100%;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5), -10px -10px 20px rgba(255, 255, 255, 0.089);
}

.progress-ring__background {
  fill: none;
  stroke: #1e293b;
  stroke-width: 10;
}

.progress-ring__circle {
  fill: none;
  stroke: url(#gradient);
  stroke-width: 10;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-dasharray: calc(2 * 3.1416 * 115);
  transition: stroke-dashoffset 0.5s ease;
}

/* Színátmenet (kék → sárga) */
.progress-ring {
  position: relative;
}

.progress-ring defs linearGradient stop:last-child {
  stop-color: #33e60f;
}
.progress-ring defs linearGradient stop:nth-child(1) {
  stop-color: #13bee95e;
}

/* A kör belsejében az idő */
.time-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -60%);
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 4px;
  text-shadow: 10px 1px 10px rgba(0, 0, 0, 0.5), -10px -5px 10px rgba(255, 255, 255, 0.041);
}

/* Gombok */
.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.btn {
  padding: 0.8rem 0.8rem;
  border: none;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s;
  margin: 10px;
}

.start {
  background-color: white;
  color: black;
}

.pause {
  background-color: #c8f560;
  color: black;
}

.end {
  background-color: #00e0ff;
  color: black;
}



/* Alsó szöveg */
.next-break {
  color: #94a3b8;
  margin-top: 1.2rem;
  font-size: 1.1rem;
}

.timer-settings {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 16px;
  justify-content: center;
}

.timer-setting {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 60px;
}

.timer-setting label {
  color: #cbd5e1;
  font-size: 14px;
}

.timer-setting input {
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
  background: #0b1220;
  color: white;
  width: 80px;
  text-align: center;
  font-size: 14px;
}

.button-group{
  padding: 20px;
  /*
  border-radius: 15px;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.30);*/
}

.btn.start{
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5), -10px -10px 20px rgba(255, 255, 255, 0.050);
  background-color: rgb(38, 180, 38);
  color: white;
}
.btn.pause{
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5), -10px -10px 20px rgba(255, 255, 255, 0.050);
  background-color: rgb(114, 114, 114);
  color: white;
}
.btn.end{
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5), -10px -10px 20px rgba(255, 255, 255, 0.050);
  background-color: rgb(184, 20, 20);
  color: white;
}

.btn.start:hover {
  background-color: rgb(29, 141, 29);
  transform: scale(0.95);
}
.btn.pause:hover {
  background-color: rgb(104, 104, 104);
  transform: scale(0.95);
}
.btn.end:hover {
  background-color: rgb(153, 16, 16);
  transform: scale(0.95);
}
.timer-setting .number-wrapper {
  position: relative;
  display: inline;
  padding: 20px;
  border-radius: 20px;
  width: 100px;
  text-align: center;
}

.timer-setting .focus-input {
  width: 50px;
  padding: 8px;
  border-radius: 12px;
  background-color: #0a162c79;
  color: white;
  outline: none;
  font-size: 14px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.30);
}

/* natív nyilak elrejtése */
.timer-setting .focus-input::-webkit-inner-spin-button,
.timer-setting .focus-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.timer-setting .focus-input {
  -moz-appearance: textfield;
}

/* custom nyilak konténer */
.timer-setting .spinner-buttons {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* fel/le gombok */
.timer-setting .spin-btn {
  background: #1f293300;
  border: none;
  color: rgb(146, 146, 146);
  width: 15px;
  height: 20px;
  font-size: 12px;
  line-height: 10px;
  cursor: pointer;
  border-radius: 4px;
  padding: 0;
  transition: 0.15s;
}

.timer-setting .spin-btn:hover {
  background: #273444b9;
}

.timer-setting .spin-btn:active {
  background: #3c4a5a;
}